---
interface Props {
  title: string;
  description?: string;
  image?: string;
  imageAlt?: string;
}

const { title, description, image, imageAlt = '' } = Astro.props;
---

<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        {title}
      </h2>

      {description && (
        <p class="hidden text-gray-500 md:mt-4 md:block">{description}</p>
      )}

      <div class="mt-4 md:mt-8">
        <slot />
      </div>
    </div>
  </div>

  {image && (
    <img src={image} alt={imageAlt} class="h-56 w-full object-cover sm:h-full" loading="lazy" decoding="async" />
  )}
</section>
