name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/*.md"
      - "docs/**"

env:
  HUSKY: 0
  NX_REJECT_UNKNOWN_LOCAL_CACHE: 0

jobs:
  build:
    environment: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            projects: tag:npm:public
          - os: windows-latest
            projects: storyblok
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - name: Check
        run: pnpm nx run-many --target=build,lint,test,test:types --parallel=3 -p="${{ matrix.projects }}"
        env:
          VITE_ACCESS_TOKEN: ${{ secrets.VITE_ACCESS_TOKEN }}
          VITE_SPACE_ID: ${{ vars.VITE_SPACE_ID }}

      - name: Check Licenses
        run: pnpm nx exec -p="${{ matrix.projects }}" -- pnpm -w monoblok license check \$NX_PROJECT_NAME
