name: Publish

on:
  pull_request:
    branches:
      - main
    types: [closed]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    if: |
      github.event.pull_request.merged &&
      startsWith(github.event.pull_request.title, 'chore: release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - run: corepack enable
      - name: Setup Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm install
      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          publish: pnpm changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH }}
